
body{ 
  border: 5px solid red;
}
section{
  display: flex;
  background-image: url(images/download.jpg);
  justify-content: center;
  text-align: center;
}
p{
  color: red;
  font-size: 30px;
  display: flex;
  text-align: center;
}
h1{
  color: blue;
  font-size: 45px;
  display: flex;
  text-align: center;
}
.div{
  color: brown;
  background-repeat: no-repeat;
  max-width: 2000px;
  display: flex;
}
a{
  flex-wrap: wrap;
}
.tbc{
  width: 150px;
}