div{
  color: brown;
  background-image: url(images/download.jpg);
  margin: 15px;
  background-repeat: no-repeat;
  max-width: 450px; 
}
section{
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
